body {
    background-image: url("saurabhback.jpg");
	font: sans-serif;
	}

/* mouse over link */
a:hover {
    color: red;
}

.gs{
	color:red;
	font-weight:bold;
}
	
table {
    border: 0;
    width: 80%;
}

th, td {
    text-align: center;
}

tr:nth-child(odd){background-color: white}
tr:nth-child(even){background-color: skyblue}



#First {
}

#Second {
	
}

#three {
	
}

#four {
	
}